{{ $p := . }}
{{ $slug := "" }}
{{ with $p.File }}
  {{ $slug = path.Base (path.Dir .Path) }}
{{ end }}

{{ $prefer := site.Data.software_prefer_internal.slugs | default slice }}
{{ $href := "" }}
{{ if and $slug (in $prefer $slug) }}
  {{ with site.GetPage (printf "/software/%s" $slug) }}
    {{ $href = .RelPermalink }}
  {{ end }}
{{ end }}

{{ if eq $href "" }}
  {{ $href = partial "software_external_url.html" $p }}
{{ end }}
{{ if eq $href "" }}
  {{ if ne $slug "" }}
    {{ with site.GetPage (printf "/software/%s" $slug) }}
      {{ $href = .RelPermalink }}
    {{ end }}
  {{ end }}
  {{ if eq $href "" }}
    {{ $href = $p.RelPermalink }}
  {{ end }}
{{ end }}
{{ return $href }}
