{{- define "main" -}}
<div data-pagefind-ignore>
<p style="display:none;">Page not found</p>
</div>

<script>
(function() {
  var path = window.location.pathname;

  // --- Redirect rules for known old URLs ---
  var rules = [
    { match: /^\/files\/gking\/files\/(.+\.pdf)$/i, to: '/files/$1' },
    { match: /^\/sites\/scholar\.harvard\.edu\/files\/gking\/files\/(.+\.pdf)$/i, to: '/files/$1' },
    { match: /^\/sites\/g\/files\/omnuum7116\/files\/gking\/files\/(.+\.pdf)$/i, to: '/files/$1' },
    { match: /^\/sites\/g\/files\/omnuum7116\/files\/(.+\.pdf)$/i, to: '/files/$1' },
    { match: /^\/publications\/(.+?)\/?\s*$/i, to: '/publication/$1/' },
    { match: /^\/scholar_software\/([^\/]+)/i, to: '/software/$1/' },
    { match: /^\/presentations\/(.+?)(?:-\d+)?\/?\s*$/i, to: '/talk/$1/' },
    { match: /^\/tags\/?/i, to: '/publication/' },
    { match: /^\/categories\/?/i, to: '/#research-areas' },
    { match: /^\/publication_types\/?/i, to: '/publication/' }
  ];

  for (var i = 0; i < rules.length; i++) {
    var m = path.match(rules[i].match);
    if (m) {
      var dest = rules[i].to.replace(/\$1/g, m[1]);
      window.location.replace(dest);
      return;
    }
  }

  // --- Redirect to homepage with the missing path encoded in the hash ---
  var slug = path.replace(/^\/+|\/+$/g, '').split('/').pop() || '';
  var keywords = slug.replace(/-/g, ' ').replace(/\d{4,}/g, '').trim();
  window.location.replace('/' + '#page-not-found=' + encodeURIComponent(keywords));
})();
</script>

{{- end -}}
